@import "variables.scss";
@import "mixins.scss";
    

    @font-face {
        font-weight: normal;
        font-style: normal;
        font-family: 'socialglyphs';
        src: url('../fonts/socialglyphs/socialglyphs.eot?-8is7zf');
        src: url('../fonts/socialglyphs/socialglyphs.eot?#iefix-8is7zf') format('embedded-opentype'), url('../fonts/feathericons/feathericons.woff?-8is7zf') format('woff'), url('../fonts/feathericons/feathericons.ttf?-8is7zf') format('truetype'), url('../fonts/feathericons/feathericons.svg?-8is7zf#feathericons') format('svg');
    }
    *, *:after, *:before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* Common style */
    
    .grid figure {
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 320px;
        /*max-width: 480px;*/
        /*max-height: 360px;*/
        
        width: 100%;
        background: #000000;
        text-align: center;
    }
    .grid figure img {
        position: relative;
        display: block;
        /*min-height: 100%;*/
        
        min-width: 100%;
    }
    .grid figure figcaption {
        padding: 2em;
        color: #fff;
        opacity: .8;
        /*text-transform: uppercase;*/
        
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .grid figure figcaption::before, .grid figure figcaption::after {
        pointer-events: none;
    }
    .grid figure figcaption, .grid figure figcaption > a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    /* Anchor will cover the whole item by default */
    /* For some effects it will show as a button */
    
    .grid figure figcaption > a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
    }
    .grid figure .details .tracks>ol {
        overflow-y: scroll;
        height: 185px;
    }

    .grid figure h5, .grid figure p {
        margin: 0;
    }
    .grid figure h5 {
        font-size: 1em;
        margin-right: 60px;
        margin-top: -5px;
    }
    .grid figure p {
        letter-spacing: 1px;
        font-size: 68.5%;
    }
    .grid figure .icon-links {
        position: absolute;
        right: 1em;
    }
    .grid figure .icon-links .social-icon {
        width: 20px;
        @include hover-transition;
    }
    .grid figure .icon-links .social-icon:hover {
        width: 20px;
        fill: $link-hover-color;
    }
    /* Individual effects */
    /*---------------*/
    /***** Zoe *****/
    /*---------------*/
    
    figure.effect-zoe figcaption {
        top: auto;
        bottom: 0;
        padding: 1em;
        height: 3.75em;
        background: #fff;
        color: #3c4a50;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    figure.effect-zoe figcaption.full-height {
        height: 100%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    figure.effect-zoe figcaption .details {
        clear: both;
        float: left;
        text-align: left;
    }
    figure.effect-zoe h5 {
        float: left;
    }
    figure.effect-zoe p.icon-links a {
        float: right;
        color: #3c4a50;
        font-size: 1.4em;
    }
    figure.effect-zoe:hover p.icon-links a:hover, figure.effect-zoe:hover p.icon-links a:focus {
        color: #9DA7FF;
        cursor: pointer;
    }
    figure.effect-zoe:hover {
        cursor: pointer;
    }
    figure.effect-zoe p.description {
        position: absolute;
        bottom: 8em;
        padding: 2em;
        color: #fff;
        text-transform: none;
        /*font-size: 90%;*/
        
        opacity: 0;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        -webkit-backface-visibility: hidden;
        /* Fix for Chrome 37.0.2062.120 (Mac) */
    }
    figure.effect-zoe h5, figure.effect-zoe p.icon-links a {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0);
    }
    figure.effect-zoe p.icon-links a span::before {
        display: inline-block;
        padding: 8px 10px;
        font-family: 'socialglyphs';
        speak: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .icon-eye::before {
        content: '\e000';
    }
    .icon-paper-clip::before {
        content: '\e001';
    }
    .icon-heart::before {
        content: '\e024';
    }
    figure.effect-zoe h5 {
        display: inline-block;
    }
    figure.effect-zoe:hover p.description {
        opacity: 1;
    }
    figure.effect-zoe:hover figcaption, figure.effect-zoe:hover h5, figure.effect-zoe:hover p.icon-links a {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    figure.effect-zoe:hover h5 {
        -webkit-transition-delay: 0.05s;
        transition-delay: 0.05s;
    }
    figure.effect-zoe:hover p.icon-links a:nth-child(3) {
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
    }
    figure.effect-zoe:hover p.icon-links a:nth-child(2) {
        -webkit-transition-delay: 0.15s;
        transition-delay: 0.15s;
    }
    figure.effect-zoe:hover p.icon-links a:first-child {
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    @media screen and (max-width: 50em) {
        .content {
            padding: 0 10px;
            text-align: center;
        }
        .grid figure {
            display: inline-block;
            float: none;
            margin: 10px auto;
            width: 100%;
        }
    }
