@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "sass-bootstrap/lib/bootstrap";
@import "bootflat.scss";
@import "hover.scss";
@import "loading.scss";

html {
    height: 100%;
}
/* Space out content a bit */
body {
    padding-bottom: 20px;
    // font-family: 'Lato', 'Merriweather', serif;
    height: 100%;
    //background-color: #5CD2FF;
}
.header, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    h1 {
        img {
            width: 25px;
        }
        font-size: 4em;
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
    background-color: $primary-color;
    padding: 40px 0px 20px 0px;
}
a {
    @include hover-transition;
    color: #000;
}
a:hover {
    color:$link-hover-color !important;
}

.search-bar-region {
    .search-button {
        //  for some reason the button is 1px smaller than the input, so fix that here
        height: 34px;
    }
    padding: 20px 0px;
}
.no-results {
    padding: 10px 30px;
    text-align: center;
}
.results-grid-region {
    .load-more-container {
        text-align: center;
        padding: 10px 0px 50px 0px;
    }
}
.search-description {
    h6 {
        text-align: center;
        padding-top: 10px;
    }
}

.text-capitalize {
    text-transform: capitalize;
}

/* Custom page footer */

.footer {
    p {
        text-align: right;
    }
    nav {
        span {
            a {
                color: #434A54;
            }
            @include hover-transition;
            padding: 0px 5px;
        }
        span:hover {
            text-decoration: underline;
            cursor: pointer;
            color:$link-hover-color;
        }
        text-align: center;
    }
    padding: 5px;
    background-color: #ffffff;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.loading-container {
    margin-top: 40px;
}

.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
}
//  Center search placeholder text
// ::-webkit-input-placeholder {
//    text-align: center;
// }
// :-moz-placeholder { /* Firefox 18- */
//    text-align: center;  
// }
// ::-moz-placeholder {  /* Firefox 19+ */
//    text-align: center;  
// }
// :-ms-input-placeholder {  
//    text-align: center; 
// }

.borderless {
    input {
        border: none !important;
    }
    span button {
        border: none !important;
    }
    border: none !important;
}
button.btn-default:hover {
  background-color: $secondary-color;
}