@import "normalize.css";
@import "sass-bootstrap/lib/bootstrap";
@import "hover.css";

/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    // font-family: 'Lato', 'Merriweather', serif;
}

.header, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    h1 {
        img {
            width: 25px;
        }
        font-size: 3em;

        padding-left: 20px;
    }

    border-bottom: 1px solid #e5e5e5;
}

.search-bar-region {
    padding-top: 20px;
}
/* Custom page footer */

.footer {
    p {
        text-align: right;
    }
    padding-top: 19px;
    background-color: #ffffff;
    color: #777;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

