@import "variables.scss";
@import "mixins.scss";

body {
	color: #555555;
}
//	Give all link tags a smooth hover color transition
a {
    @include hover-transition;
    color: #555555;
}
//	Make all link tags be same color on hover
a:hover {
    color:$link-hover-color !important;
}

img {
    @include no-text-select;
}

.text-capitalize {
    text-transform: capitalize;
}

//	Sticky header
.header {
	.nav-bar-container {
		width: 100%;
        padding: 0px;
	}
	position: fixed;
	  right: 0;
	  left: 0;
	  z-index: 1030;
	  top: 0;
}

// Custom sticky footer
.footer {
    nav {
        span {
            a {
            	//	Make link same color as other text in footer
                color: #434A54;
            }
            @include hover-transition;
            padding: 0px 5px;
            // font-weight: 100;
        }
        span:hover {
            text-decoration: underline;
            cursor: pointer;
            color:$link-hover-color !important;
        }
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
    }
    padding: 5px;
    background-color: #EEEEEE;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 45px;
    opacity: .85;

    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

footer:hover {
    opacity: 1;
}

.spotify-player-region {
    .spotify-player-toggle {
        bottom: 15px;
    }
    .spotify-player-iframe {
        // width: 300px;
        // height: 380px;
    }
    position: absolute;
    bottom: -20px;
    right: 5px;
}


// h1 {
//     font-weight: 300;
// }

// h2, h3 {
//     font-weight: 100;
// }

// h4, h5 {
//     font-weight: 200;
// }

.results-grid-region {
    .load-more-container {
		padding-bottom: 60px;
    }
    padding-bottom: 90px;
}

.search-region {
	.search-header {
		.header-logo {
			width: 150px;
		}
	}
	.search-bar-region {
		margin: 35px 0px;
	}
	margin-top: 75px;
}

.search-description-container {
    .lead-text {
        padding-bottom: 45px;
    }
}

.search-buttons-container {
	padding-bottom: 15px;
}

.navbar-region {
	.navbar-logo {
		width: 50px;
  		margin: -10px 10px;
	}
	.navbar-search {
		width: 100%;
	}
}

//  Controls modal dialog transitions
.modal.fade:not(.in) {
 	.modal-dialog.slide-bottom {
	    -webkit-transform: translate3d(0, 125%, 0);
	    transform: translate3d(0, 125%, 0);
	}
}
