<div class="form-group">
    <div class="input-group">
    	<div class="form-control-wrapper">
    		<input id="search-input" type="text" class="form-control input-lg search-input search-query <%= query === '' ? 'empty' : '' %>" value="<%= query %>">
    		<div class="floating-label"><%= Beatmap.strings.searchPlaceholder %></div>
    		<span class="material-input"></span>
		</div>
        <span class="input-group-btn">
            <button class="btn btn-primary search-button" type="button">Search</button>
        </span>
    </div>
</div>

