<div class="row search-description-container">
	
	<% if(searchLoading) { %>
	<h3 class="text-center">
		Searching...
	</h3>
	<% } else if(searchComplete && !noResults) { %>

	<h3 class="search-results-description text-center">
		Showing results for <% if(albumResults) { %>
		the album "<span class="text-capitalize"><%= searchAlbum.get('name') %></span>" by <span class="text-capitalize"><%= searchArtist.get('name') %></span>
		<% } else { %>
		the artist "<span class="text-capitalize"><%= searchArtist.get('name') %><span class="text-capitalize">"
		<% } %>
	</h3>

	<% } else if(!noResults) { %>
	
	<h3 class="text-center"><%= Beatmap.strings.searchInfo %></h3>
	<% } %>

</div>

