<div class="navbar navbar-default navbar-region">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"><!-- data-toggle="collapse" data-target=".navbar-inverse-collapse"> -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.pleanbean.com/beatmap">
            <img class="navbar-logo" src="images/logo.png"/>
            Beatmap
        </a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#search">Search</a></li>
        </ul>
        <div class="navbar-form navbar-left">
            <input type="text" class="form-control navbar-search col-lg-8" data-ripple-color="#000000" placeholder="Find new music" value="<%= query %>">
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-help"><a href="#">Help</a></li>
            <!-- <li class="dropdown login-dropdown">
                <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="lastfm-login"><a href="javascript:void(0)">LastFM</a></li>
                    <li class="spotify-login"><a href="#">Spotify</a></li>
                    <!-- <li class="divider"></li>
                    <!-- <li><a href="javascript:void(0)">Privacy Policy</a></li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>