<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label" aria-hidden="true">
  <div class="modal-dialog slide-bottom">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="contact-modal-label">Questions or feedback?</h4>
      </div>
      <div class="modal-body">
        <section>
          <h2></h2>
          <p>I am always looking for feedback and ways to improve Beatmap. If you have an idea, question, or a feature you'd like to see, please shoot me an email!</p>
          <h4 class="text-center">epleaner@calpoly.edu</h4>
          <p>- Eli Pleaner</p>
        </section>
      </div>
    </div>
  </div>  
</div>