<section class="main">
	<div class="dialogs-region"></div>
	<header class="header">
	    <h1><a href="http://www.pleanbean.com/beatmap">Beatmap</a></h1>
	    <div class="container">
	    	<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"></div>
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-10 search-bar-region"></div>
				<div class="col lg-3 col-md-3 col-sm-2 col-xs-1"></div>
			</div>
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
				<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 info-region"></div>
				<div class="col lg-2 col-md-2 col-sm-1 col-xs-1"></div>
			</div>
	    </div>
	</header>
	<div class="container results-grid-region grid"></div>
	<footer class="footer">
	    <nav>
	        <span class='about'>about</span>
	        <span class='contact'>contact</span>
	        <span class='other-work'><a href="http://www.pleanbean.com#projects">other work</a></span>
	    </nav>
	</footer>
</section>