<div class="row search-results"></div>
{{#if searchComplete}}
{{#unless noResults}}
<div class="row load-more-container">
	<button type="button" class="btn btn-default load-more-button">
			More
	</button>
</div>
{{/unless}}
{{/if}}
